# dependencies
node_modules

# python files
/app/python/__pycache__
/app/python/constants/__pycache__
/app/python/scrapy_files

# log files
/app/log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*

# backup files
_*.*
*.bak

# others
.DS_Store
/.pnp
.pnp.js
.vscode
yarn.lock